<!DOCTYPE html>
<html>
  <head>
    <h1>Today</h1>
  </head>
  <body>
    <% require 'date'
        time = Date.now  
    %>
    <p><%= time.strftime(%A) + ", " + time.strftime(%m %d) + ", " + time.strftime(%Y) </p>
  </body>
</html>