<!DOCTYPE html>
<html>
  <head>
    <h1>Today</h1>
  </head>
  <body>
    <% require 'time'
        time = Time.now   
    %>
    <p><%=time.strftime("The date is %A, %B %d, %Y")%></p>
  </body>
</html>